<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/hf.css" />
    </head>
    <body>
        <form method='POST' action='/map'>
            <table>
            <p>Type here an artist to see in what countries is his/her best song available:</p>
            <tr><td>An artist:</td><td><input name='phrase' type='TEXT' width='60'></td></tr>
            </table>
            <p>When you're ready, click this button:</p>
            <p><input value='Click here!' type='SUBMIT'></p>
        </form>
    </body>
</html>
